/*--------------------------------------------------------------
 Application.css
 Imports all stylesheets; sets defaults for bare elements
 --------------------------------------------------------------*/

@import 'layout.css';
@import 'content.css';

@media print { #sidebar { display:none; }
               #content { float: none; width:90%; }
               #content pre { color: #000; background: #eee; }
               #content form.comments { display:none; } }

body {
	font-family: arial, verdana, helvetica, sans-serif;
}

pre { font-size: 13px; }

abbr  { border: none; }
cite  { font-style: normal; }
a img { border: none; padding: 0; margin: 0; }
a { font-weight: bold; }
a:link,  a:visited { color: #223750; }
a:hover, a:active  { color: #fff; background: #223750; }

input { padding: 5px; }
